<nav class="container-fluid d-flex align-items-center  justify-content-between">
    <div class="container d-flex  align-items-center justify-content-between ">
        <div class="d-flex align-items-center">
            <img src="assets/img/logo.png" alt="logo" class="img-fluid logo">
            <ul class="d-flex text-white list-unstyled m-0 ms-5">
                <li class="p-3">inicio</li>
                <li class="p-3">pull requests</li>
                <li class="p-3">repositorios</li>
                <li class="p-3">explore</li>
                <li class="p-3">salvos</li>
            </ul>
        </div>
        <div>
            <a href="#" class="text-white p-2">sair</a>
            <input type="text" class="rounded" placeholder="buscar">
        </div>
    </div>
</nav>