<section class="container vh-100 w-100 d-flex align-items-center">
    <div class="row align-items-center w-100 justify-content-center">
        <div
            class="col-md-7 col-lg-7 col-sm-12 col-xs-12 info d-flex bg-white rounded align-items-center justify-content-center">
            <div class="content">
                <div class="title text-center">
                    <h1>Iorgute</h1>
                    <span>
                        <p>
                            <span class="pink">Siga</span> amigos e outros devs do seu
                            interesse usando o botão seguir
                        </p>
                        <p>
                            <span class="pink">Conheça</span> novos devs e repositórios
                            através da aba explorar
                        </p>
                        <p>
                            <span class="pink">Compartilhe</span> ideias e soluções em um só
                            lugar
                        </p>
                    </span>
                </div>
            </div>
        </div>

        <div
            class="col-md-4 col-lg-4 col-sm-12 login col-xs-12 ms-2 rounded d-flex flex-column justify-content-center align-items-center">
            <div>
                <img src="assets\img\code.png" alt="entrar" class="img-fluid" />
            </div>

            <p class="mt-3 text-center">Acesse o hubkut com seu usuário do Github</p>
            <span class="entrar d-flex flex-column mt-3">
                <input type="text" placeholder="digite seu usuario" class="rounded" />
                <button class="btn btn-primary rounded">Login</button>
            </span>
        </div>
        <div class="col-11 footer-login mt-3">
            <p class="text-center">© 2022 Hubkut - <a href="#"> Sobre o Hubkut </a> -  <a href="#">Centro de segurança</a> - <a href="#">Privacidade</a> - <a href="#">Termos</a> - <a href="#">Contato</a></p>
        </div>
    </div> 
</section>